.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Box{
  border: solid 2px #000;
  width: 150px;
  height: 200px;
  padding: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr ;
  grid-template-columns: 1fr ;

}
.btn{
  width: fit-content;
  height: fit-content;
  grid-row: 1/2;
}
.show{
  background-color: greenyellow;
  width: 150px;
  height: 150px;
  grid-row: 2/3;
}
.hide{
  display: none;
}