body{
   padding-top: 1fr;
   height: 200px;
   display: flex;
   flex-direction: column;
   /* justify-content: space-around; */
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
   margin-top: 10px;
   display: flex;
   align-items: flex-end;
}
button{
   margin-left: 3px;
   height: 22px;
   width: 55px;
}
.smileContainer{
   margin-top: 20px;
   display: flex;
   width: fit-content;
}